.icon-48-comments {
      background-image: url(../images/l_comments.png);
      padding-left:60px!important;
}

.icon-48-commentform {
      background-image: url(../images/l_comments.png);
      padding-left:60px!important;
}

